
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  color: white;

}

li {
  display: inline-block;
  float: left;
}

/* Font Choices
font-family: 'GFS Didot', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* Headings */



.greek-font {
  font-family: 'GFS Didot', serif;
}

/* Containers */

.container-fluid{
  padding: 5%;
}

/* Sections */

.black-section {
  background-color: black;
  color: #fff;
}

.red-section {
  background-color: #DA0037;
}

.white-section {
  background-color: #EDEDED;
}

.grey-section {
  background-color: #444444;
}


/* Background image header */
.demo-wrap {
  overflow: hidden;
  position: relative;
}

.demo-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.demo-content {
  position: relative;
}

.omega {width: 60px;
    float: left;
    position: absolute;
}

.omega-text {
font-size:3rem;
color: red;
}

.span-text {
  color: white;

}

/* Navigation Bar */


.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
  color: #fff;
}



.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  color: #fff;
}

#nav-title {
  margin-left: 20px;
}


/* Title Section */

#title {
  background-color: #black;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

 .title-image {
  width: 50%;
  visibility: hidden;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 2rem;
  color: black;
}

.feature-box {
  padding: 2.5%;
  border: 1px solid;
  background: #EDEDED;
}



.feature-text {
  color: black;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.money {
  padding-bottom: 5px;
}

.sell {
  padding-bottom: 5px;
}

.repair {
  padding-bottom: 5px;
}

/* Store Section */



.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

 .testimonial-image {
  max-width: 80%;
  max-height: 80%;
}

/* About us section */

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.playstation-logo {
  height: 175px;
  width: 250px;

}

.nintendo-logo {
  height: 200px;
  width: 300px;

}

.xbox-logo {
  height: 200px;
  width: 300px;
}


.atari-logo {
  height: 175px;
  width: 225px;

}

.sega-logo {
  height: 220px;
  width: 350px;
  margin-left: 20px;
}


.about-row {
  padding-top: 1.5%;
}

.white-text {
  color: #EDEDED;
}

.about-box {
  padding-bottom: 3%;
  border: 1px solid;
  background: #EDEDED;
}

/* Clear floats after the columns */
.about-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/* Footer Section */
.contact {
  text-align: center;
}

#footer {
  padding-top: 20px;
  text-align: center;
}


@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
